@media screen and (min-width: 768px) {
  html {
    font-size: 20px;
  }
}

body {
  color: $text;
}

a {
  color: $color-secondary;
  text-decoration: none;
  transition: color .2s;

  &:hover {
    color: $text;
  }
}

h2 {
  font-size: 1.25rem;
  line-height: 1.35;
}

.subtext {
  font-size: .75rem;
}