$default-spacing:           1rem;

$font-family-base:          'Source Sans Pro', sans-serif;


// index
$color-secondary:          #FF4CA8;
$color-secondary-light:    #FF4CA8; //#6e2d61;
$color-primary:            #211B3B;
$text:                     #fff;

//index2
$color-secondary:          #62FED8;
$color-secondary-light:    #2a6154;
$color-primary:            #0C0C0C;
$text:                     #fff;

//index3
$color-secondary:          #3150DF;
$color-secondary-light:    #b7c1f5;
$color-primary:            #fff;
$text:                     #3D3C3B;

//index 4
$color-secondary:          #F21B5F;
$color-secondary-light:    #faafc7;
$color-primary:            #FCFCFD;
$text:                     #282066;

// scss variables are fallback for browsers that don't support css variables
// variables are used in themeswitcher.js
:root {
  --color-secondary: 242, 27, 95;//#FF4CA8;
  --color-secondary-light: #FF4CA8;
  --color-primary: #211B3B;
  --text: #fff;
}