header {
  width: 100%;
  animation: fade .4s ease-in-out;

  nav, nav a {
    display: flex;
    align-items: center;
  }

  nav a {
    flex: 1;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    height: 4rem;
    transition: background-color .2s, color .2s;

    background-color: $color-secondary;
    background-color: rgb(var(--color-secondary));
    color: $color-primary;
    color: var(--color-primary);
    
    &:hover,
    &:focus,
    &.active {
      background-color: $color-primary;
      background-color: var(--color-primary);
      color: $color-secondary;
      color: rgb(var(--color-secondary));
    }
  }
}

header nav, p {
  font-size: .875rem;
  line-height: 1.75;
}