.hero-container {
  height: 65vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h1 {
    font-size: 2.5rem;
    line-height: 1.2;
    margin: 0;
    letter-spacing: .0175em;
  }

  .hero-sub {
    margin: .5em 0;
    max-width: 30rem;
    font-size: 1.5rem;
    line-height: 1.35;
  }

  h1, .hero-sub {
    transition: 300ms ease;
  }

  .divider {
    margin-top: 5rem;
    width: 170px;
    height: 5px;
    position: relative;
    //transition: width 300ms ease;

    .canvas-wrapper {
      position: absolute;
      top: calc(-5rem + 2.5px);
      left: -1rem;
      right: -1rem;
      height: 10rem;

      canvas {
        transition: width 300ms ease;
        transition-delay: 400ms;
      }
    }
  }

  &.gameboard {
    // max-width: 100%;
    // padding: 0;

    .hero-content {
      h1, .hero-sub {
        opacity: 0;
        transform: translateY(1rem);
      }

      .divider {
        width: 100%;
      }
    }
  }
}