.post {
  margin-bottom: 2rem;
  
  a {
    text-decoration: none;
    color: $color-secondary;
    color: var(--color-secondary);
    transition: color .2s;
    display: inline-block;

    &:hover {
      color: $text;
      color: var(--text);
    }
  }
}


.posts--alt {
  margin-top: 7.5rem;
  
  h2 {
    margin-bottom: 2rem;
  }
  
  ul {
    list-style-type: none;
    
    li {
      transform: translateZ(0); // prevent paint storm
      border-bottom: 1px solid $color-secondary-light;
      border-bottom: 1px solid var(--color-secondary-light);
      
      &:first-child {
        border-top: 1px solid $color-secondary-light;
        border-top: 1px solid var(--color-secondary-light);
      }

      a {
        color: $text;
        color: var(--text);
        padding: 1.42rem 0;
        display: flex;
        justify-content: space-between;
        position: relative;
        
        &:hover {
          color: $color-secondary;
          color: var(--color-secondary);

          .headtext, .subtext {
            &::after {
              transform: scaleX(1);
            }
          }

          .arrow-icon {
            &.rotate {
              .inactive {
                transform: rotate(-45deg) translateX(100%);
              }
              .active {
                transform: rotate(-45deg) translateX(0%);
              }
            }
            .inactive {
              transform: translateX(100%);
              opacity: 0;
            }
            .active {
              transform: translateX(0%);
              opacity: 1;
            }
          }
        }

        .headtext, .subtext {
          position: relative;

          &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: -$default-spacing/4;
            width: calc(100% + #{$default-spacing/2});
            height: 94%;
            background-color: $color-secondary;
            background-color: var(--color-secondary);
            opacity: .25;
            z-index: -1;
            transform: scaleX(0);
            transform-origin: bottom left;
            transition: transform 0.2s ease;
          }
        }
        .headtext {
          font-weight: bold;
        }
        .subtext {
          opacity: .7;
          &::after {
            transition: transform 0.4s ease;
          }
        }

        .arrow-icon {
          position: absolute;
          display: flex;
          right: 0;
          top: 50%;
          transform: translateY(-50%);

          @media screen and (max-width: 767px) {
            width: 18px;
            height: 18px;
          }

          .active {
            position: absolute;
            top: 0;
            left: 0;
            transition: transform 0.2s ease, opacity 0.2s ease;
            transition-delay: 0.1s, 0.1s;
            transform: translateX(-100%);
            opacity: 0;
            fill: $color-secondary;
            fill: var(--color-secondary);
          }
          
          .inactive {
            transition: transform 0.2s ease, opacity 0.2s ease;
            transition-delay: 0.1s, 0.1s;
            fill: $color-secondary-light;
            fill: var(--color-secondary-light);
          }

          &.rotate {
            .active {
              transform: rotate(-45deg) translateX(-100%);
            }
            .inactive {
              transform: rotate(-45deg);
            }
          }
        }

        @media screen and (max-width: 767px) {
          -webkit-tap-highlight-color:  transparent;

          &:active {
            background-color: rgba(var(--color-secondary--rgb), 0.05);
          }
        }
      }
    }
  }
}